body {
    background-image: url("https://images.wallpapersden.com/image/download/the-legend-of-zelda-breath-of-the-wild-art_a2ZubmaUmZqaraWkpJRobWllrWdma2U.jpg");
    background-color: lightblue;
}
h2 {
	color: blue;
}
h3 {
	color: brown;
}
ul {
	color: blue;
}
p {
	color: red;
}
