body {
	background-image: url("hyrulewarriors-ac-guardians-3840x2160-1.jpg");
	background-size: auto;
	background-color: lightblue;
}
h2 {
	color: blue;
}
h3 {
	color: brown;
}
ul {
	color: blue;
}
p {
	color: red;
}
